body {
  background-color: #1B3C53;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: white;
  text-align: center;
}

#display {
  height: 60px;
  color: white;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

#options button {
  border: 1px solid #234C6A;
  font-size: 3rem;
  border-radius: 12px;
  padding: 30px;
  background-color: #456882;
}

#options button:hover {
  scale: 1.3;
  cursor: pointer;
}

.reset {
  margin: 20px auto;
  background-color: rgba(0,0,0,0);
  border: none;
  color: indianred;
  text-decoration: underline;
  font-size: 1.1rem;
  display: block;
}

.reset:hover {
  cursor: pointer;
}

.hide {
  display: none;
}